:host.header {
  background-color: #fff;
  padding: 1.875rem 1.875rem 0;
  display: block;
  z-index: 1;
  box-shadow: 0 0.125rem 0.3125rem 0 rgb(25 25 25 / 16%);
}

:host.page-body {
  padding: 36px;
  padding-top: 0;
  display: block;
  flex-grow: 1;
}

:host.page-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
}
