.img-full {
    max-height: 600px;
    max-width: 1000px;
    border-radius: 8px;
}

.img-cell {
    height: 50px;
    border-radius: 8px;
    position: absolute;
    top: 15%;
    left: 18%;
    width: 55px;
    cursor: pointer;
}
