<svg class="container" (mouseup)="onMouseUp($event)" (mousedown)="onDragContainer($event)">
  <g [attr.transform]="'translate(' + offsetX + ',' + offsetY + ')' + ' scale(' + scale + ' ' + scale + ')'">
    <g *ngFor="let link of links">
      <g
        app-workflow-arrow
        [link]="link"
        [class.selected]="link === selectedLink"
        (dragSource)="onDragLink($event)"
        (dragTarget)="onDropOnLink($event)"
      ></g>
    </g>
    <g *ngFor="let block of blocks" [attr.transform]="'translate(' + block.x + ',' + block.y + ')'">
      <foreignObject
        height="1"
        width="1"
        style="overflow: visible"
        (mousedown)="onDragBlock($event, block)"
        (mouseup)="onDropOnBlock($event, block)"
      >
        <app-workflow-block
          class="unselectable"
          [block]="block"
          [selected]="block === selectedBlock"
        ></app-workflow-block>
      </foreignObject>
      <circle
        *ngFor="let port of block.inputPorts"
        [attr.r]="portRadius"
        [attr.cx]="(blockWidth / (block.inputPorts.length + 1)) * (port.index + 1)"
        class="port"
        (mouseup)="onDropOnPort($event, block, block.x + blockWidth / 2, block.y, port)"
        (mousedown)="$event.stopPropagation()"
      ></circle>
      <circle
        *ngFor="let port of block.outputPorts"
        [attr.r]="portRadius"
        [attr.cy]="blockHeight"
        [attr.cx]="(blockWidth / (block.outputPorts.length + 1)) * (port.index + 1)"
        class="port"
        (mousedown)="
          onDragPort(
            $event,
            block,
            block.x + (blockWidth / (block.outputPorts.length + 1)) * (port.index + 1),
            block.y + blockHeight,
            port
          )
        "
      ></circle>
    </g>
    <g app-workflow-ghost-arrow *ngIf="ghostArrow" [arrow]="ghostArrow" class="link" pointer-events="none"></g>
  </g>
</svg>
