.container {
  cursor: grab;
  width: 100%;
  height: 100%;
}

.block {
  cursor: move;
}

.port {
  cursor: default;
  fill: rgb(85, 85, 85);
  background-color: rgb(85, 85, 85);
  border-radius: 50%;
}

.port:hover,
.port.selected {
  fill: #36f;
  background-color: #36f;
}

.link {
  stroke: #334455;
  stroke-width: 2;
  fill: transparent;
}

.link:hover {
  stroke: #36f;
  cursor: default;
}

.link.selected {
  stroke: #36f;
}
