<div
  style="display: flex; height: 100%; outline: none; position: relative"
  (mousemove)="workflowDesignerService.mouseMove($event)"
  (mouseup)="stopDrag({ kind: 'unknown', event: $event })"
  (keydown)="workflowDesignerService.onKeyUp($event)"
  tabindex="0"
  #container
>
  <app-workflow-catalog-toolbar
    (startDragBlockConstructor)="workflowDesignerService.startDrag($event)"
    [blocks]="blockConstructors"
  ></app-workflow-catalog-toolbar>
  <app-workflow-designer-container
    id="workflow-designer-svg-container"
    (dragTarget)="stopDrag($event)"
    (dragSource)="workflowDesignerService.startDrag($event)"
    [blocks]="blocks"
    [ghostArrow]="ghostArrow"
    [links]="links"
    [selectedBlock]="selectedBlock"
    [selectedLink]="selectedLink"
    [offsetX]="svgOffsetX"
    [offsetY]="svgOffsetY"
    [scale]="svgScale"
    (wheel)="workflowDesignerService.onWheel($event)"
    style="flex: 1 0; overflow: hidden"
  ></app-workflow-designer-container>
  <app-workflow-block
    *ngIf="ghostBlock && containerElement"
    [ghostBlock]="ghostBlock"
    style="position: absolute; z-index: 2"
    [style.top]="ghostBlock.y - containerElement.nativeElement.getBoundingClientRect().top + 'px'"
    [style.left]="ghostBlock.x - containerElement.nativeElement.getBoundingClientRect().left + 'px'"
  ></app-workflow-block>
  <app-workflow-block-details-panel
    *ngIf="selectedBlock"
    style="position: absolute; top: 20px; bottom: 20px; z-index: 10"
    [block]="selectedBlock"
    [style.right]="0"
    [isDragging]="isDragging"
  >
  </app-workflow-block-details-panel>
</div>
