<nb-accordion
  multi
  [style.width.px]="toolbarWidth"
  style="
    background: white;
    border-radius: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  "
>
  <nb-accordion-item expanded *ngFor="let category of categories">
    <nb-accordion-item-header style="border-bottom: none; border-top: none">{{category}}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div style="display: flex; flex-direction: column; gap: 1em">
        <div
          *ngFor="let block of internBlocks[category]"
          style="border: 1px solid rgb(218, 218, 218); border-radius: 3px; padding: 1em; cursor: move"
          class="unselectable"
          (mousedown)="onStartDragBlockConstructor($event, block)"
        >
          <div>{{ block.name }}</div>
          <div class="caption">{{block.getPayload().clusterName}}</div>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
