<app-page-layout>
  <app-page-layout-header>
    <app-page-layout-header-title
      ><nb-icon icon="globe-outline"></nb-icon> Cost
    </app-page-layout-header-title>
    <app-tabs-group>
      <app-tab *ngFor="let tab of allTabs" [isActive]="selectedTab === tab" (click)="tabController.openTab(tab)">
        {{ tab }}
      </app-tab>
    </app-tabs-group></app-page-layout-header
  >
  <app-page-layout-body>
    <div *ngIf="selectedTab === 'filters'" class="grid-container">
      <div class="sidebar">
        <nb-card style="height: 100%">
          <nb-card-header> Filters </nb-card-header>
          <nb-card-body class="filters">
            <div class="select-filter">
              <p class="filter-type">Workflow</p>
              <nb-select
                placeholder="Select Workflow"
                [(ngModel)]="selectedWorkflow"
                (selectedChange)="searchCluster()"
                status="info"
                class
              >
                <nb-option *ngFor="let workflow of workflows" [value]="workflow.id">{{ workflow.name }}</nb-option>
              </nb-select>
            </div>
            <div class="select-filter">
              <p class="filter-type">Cluster</p>
              <nb-select placeholder="Select Cluster" [(ngModel)]="selectedCluster" status="info">
                <nb-option *ngFor="let cluster of clusters" [value]="cluster">{{
                 cluster
                }}</nb-option>
              </nb-select>
            </div>
            <div class="select-pod">
              <p class="filter-type">Pod</p>
              <nb-select placeholder="Select Pod" [(ngModel)]="selectedPod" status="info">
                <nb-option *ngFor="let pod of pods" [value]="pod">{{
                 pod
                }}</nb-option>
              </nb-select>
            </div>
            <div class="select-filter">
              <p class="filter-type">Metric</p>
              <nb-select placeholder="Select Metric" [(ngModel)]="selectedMetric" status="info">
                <nb-option *ngFor="let value of metricType | stringEnumToArray" [value]="value">{{
                value
                }}</nb-option>
              </nb-select>
            </div>
            <div class="select-filter">
              <p class="filter-type"> TimeWindow</p>
              <nb-card-body>
                <button nbSuffix nbButton ghost>
                  <nb-icon icon="calendar-outline"></nb-icon>
                </button>
              <app-date-range-prometheus (valueChanged)="changeRange($event)"></app-date-range-prometheus>
              </nb-card-body>  
            </div>
            <div class="select-filter">
              <p class="filter-type">Step</p>
              <nb-select placeholder="Select Step" [(ngModel)]="stepInput" status="info">
                <nb-option *ngFor="let value of stepType | stringEnumToArray" [value]="value">{{
                value
                }}</nb-option>
              </nb-select>
            </div>
            <div class="select-filter">
              <app-button (click)="searchResult()">Search</app-button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="content">
        <nb-card class="filters">
          <nb-card-body >
            <div *ngIf="hasData">
              <app-chart-component [data]="multi"></app-chart-component>
            </div>
            <div *ngIf="!hasData">
              <p class="filter-type">No Data Found</p>

            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div *ngIf="selectedTab === 'detailed costs'" class="container-detail">
      <nb-card class="card-table-detail">
        <nb-card-header>Detailed Consumation: </nb-card-header>
        <nb-card-body>
          <app-table-layout>
            <ng2-smart-table [settings]="settings" [source]="multiTable"> </ng2-smart-table>
          </app-table-layout>
        </nb-card-body>
      </nb-card>
    </div>
  </app-page-layout-body>
</app-page-layout>
