:host ::ng-deep table {
    border-collapse: unset !important;
}

:host ::ng-deep .ng2-smart-th {
    padding-right: 1.25rem !important;
}

:host ::ng-deep .ng2-smart-th,
:host ::ng-deep .ng2-smart-th a {
    color: #222324;
    font-weight: 700;
    height: 56px;
}
:host ::ng-deep .ng-star-inserted {
    font-size: 1rem;
}
:host ::ng-deep .ng2-smart-titles {
    background-color: rgba(0, 0, 0, 0.04);
}
:host ::ng-deep .ng2-smart-th,
:host ::ng-deep td {
    border: none !important;
    border-bottom: 1px solid #e2e8f0 !important;
    background: transparent;
}
:host ::ng-deep .ng2-smart-row.selected,
:host ::ng-deep .ng2-smart-row:hover {
    background: transparent !important;
}

.nb-theme-default :host ::ng-deep ng2-smart-table tbody tr {
    background: transparent !important;
}

:host ::ng-deep ng2-smart-table.clickable  tbody tr:hover {
    cursor: pointer;
    background-color: rgba(209, 209, 209, 0.555)!important;
}