<nb-card size="medium">
  <nb-card-header><nb-icon icon="book-open-outline"></nb-icon>News</nb-card-header>
  <nb-card-body>
        <p *ngFor="let singleNews of news">
          <nb-icon icon="info" status="info"></nb-icon>
          {{singleNews.name}}
        </p>
  </nb-card-body>
</nb-card>
