:host {
  stroke: #334455;
  stroke-width: 2;
  fill: transparent;
}

:host:hover {
  stroke: #36f;
  cursor: default;
}

:host.selected {
  stroke: #36f;
}

:host > polygon {
  fill: #334455;
}

:host.selected > polygon,
:host:hover > polygon {
  fill: #36f;
}
