<div class="grid-container">
  <div class="header">
    <form>
      <nb-form-field style="width: 50%">
        <nb-icon nbPrefix icon="search"></nb-icon>
        <input type="text" [(ngModel)]="query" nbInput fullWidth placeholder="Search..." name="query" />
      </nb-form-field>
      <nb-select [(ngModel)]="providerType" name="providerType">
        <nb-option *ngFor="let x of providerTypeEnum | stringEnumToArray" [value]="x">{{ x == "computing" ? "Hardware" : x | titlecase }}</nb-option>
      </nb-select>
      <app-button (click)="search()">Search</app-button>
    </form>
  </div>
  <div class="sidebar">
    <nb-card style="height: 100%;">
      <nb-card-header><nb-icon nbPrefix icon="funnel-outline"></nb-icon> Filters</nb-card-header>
      <nb-card-body class="filters">
        <div>
          <p class="category">Image detection date</p>
          <span>From</span>
          <nb-form-field>
            <button nbSuffix nbButton ghost (click)="dateInputFrom.click()">
              <nb-icon icon="calendar-outline"></nb-icon>
            </button>
            <input nbInput #dateInputFrom fieldSize="small" fullWidth [nbDatepicker]="formpicker"/>
            <nb-datepicker #formpicker></nb-datepicker>
          </nb-form-field>

          <span>To</span>
          <nb-form-field>
            <button nbSuffix nbButton ghost (click)="dateInputTo.click()">
              <nb-icon icon="calendar-outline"></nb-icon>
            </button>
            <input nbInput #dateInputTo fieldSize="small" fullWidth [nbDatepicker]="topicker"/>
            <nb-datepicker #topicker></nb-datepicker>
          </nb-form-field>
        </div>

        <div style="display: grid">
          <p class="category">Image provider</p>
          <nb-checkbox status="basic">Sentinel 2</nb-checkbox>
          <nb-checkbox status="basic">Landsat 8</nb-checkbox>
          <nb-checkbox status="basic">Worldview 3</nb-checkbox>
        </div>

        <div style="display: grid">
          <p class="category">Online Status</p>
          <nb-checkbox status="basic">Online</nb-checkbox>
          <nb-checkbox status="basic">Offline</nb-checkbox>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="content" [@listAnimation]="searchResults.length">
    <div *ngFor="let result of searchResults">
      <app-catalog-item [item]="result" (handleAdd)="addToFavorite(result)" (handleRemove)="removeFavorite(result)"></app-catalog-item>
    </div>
  </div>
</div>
