<div>
  <h2 *ngIf="searchResults.length == 0 && loading == false" class="subtitle text-center">
    <nb-icon icon="alert-triangle" status="danger"></nb-icon> There is no favorite, you can add one in
    <a class="router-link" (click)="goToPage('resources')">catalog</a> page
  </h2>

  <div class="container-fav">
    <div *ngIf="searchResults.length != 0" class="header">
      <form>
        <nb-form-field style="width: 70%">
          <nb-icon nbPrefix icon="search"></nb-icon>
          <input type="text" (keyup)="search($event)" nbInput fullWidth placeholder="Search..."/>
        </nb-form-field>
      </form>
      <h2 *ngIf="filteredSearchResults.length == 0" class="subtitle text-center">
        <nb-icon icon="info" status="danger"></nb-icon>
        No results
      </h2>
    </div>

    <div class="content" [@listAnimation]="filteredSearchResults.length">
      <div *ngFor="let searchResult of filteredSearchResults">
        <app-catalog-item [item]="searchResult" cwlType="json" (handleRemove)="removeFavorite(searchResult)"></app-catalog-item>
      </div>
    </div>
    <div
      *ngIf="loading"
      class="spinner"
      [nbSpinner]="loading"
      nbSpinnerStatus="primary"
      nbSpinnerSize="giant"
      nbSpinnerMessage="Loading"
    >
    </div>
  </div>
</div>
