.category {
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: min-content 1fr;
  column-gap: 10px;
  grid-template-areas:
    "hd hd  "
    "sd main ";
}

.grid-container .content {
  grid-area: main;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin-top: 30px;
}

.container-fav {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 10px;
  grid-template-areas:
    "hd"
    "main";
}

.container-fav .content {
  grid-area: main;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin-top: 30px;
}

.header {
  grid-area: hd;
  height: auto;
  background-color: #fff;
  color: #222b45;
  padding-right: 36px;
  margin-right: -36px;
  margin-left: -36px;
  padding-left: 36px;
}

.header form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  gap: 5px;
}



.filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nb-select {
  min-width: 8rem;
}

.nb-theme-default :host ::ng-deep nb-spinner .message {
  font-size: 2rem;
}

:host .page-body {
  padding-top: 0;
}

.sidebar {
  grid-area: sd;
  height: auto;
  margin-top: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 20rem;
  padding: 2rem;
}
