.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrapper {
    width: 100%;
    height: 100%;
}

nb-card {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    border-radius: 8px;
    overflow: hidden;
}
  
nb-card-body {
    padding: 0;
    width: 100%;
    height: 65%;
    position: relative;
}

nb-card-footer {
    width: 100%;
    height: 35%;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.type-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.font-light {
    font-size: 10px!important;
    line-height: 14px!important;
    color: grey;
}

label {
  font-weight: bold;
  font-size: smaller;
}

.button-wrapper.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.type-wrapper nb-icon {
    font-size: 10px!important;
}

.badge-wrapper nb-icon {
    font-size: 14px!important;
}

.badge-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 14px;
    padding: 3px 10px;
    height: 20px;
    line-height: 15px;
    background-color: #edf1f7;
}

.font-type {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.description-wrapper {
    overflow: hidden;
    opacity: 0;
    display: block;
    background-color: rgba(56,56,56,0.75);
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 45px 15px 15px 15px;
    transition: .3s;
}

.description-wrapper:hover {
    opacity: 1;
}
