<nb-card style="height: 315px">

    <nb-card-body>
        <div class="img-wrapper">
            <img *ngIf="!item.metadata?.images?.length" src="https://cdn.pixabay.com/photo/2021/05/22/01/47/mountains-6272362_960_720.jpg" class="card-img">
            <img *ngIf="item.metadata?.images?.length" [src]="item.metadata.images[0]" class="card-img">
        </div>
        <div class="description-wrapper">{{ item.description }}</div>
        <div class="badge-wrapper">
            <span *ngIf="item.providerType == 'data'" class="font-type">
                <nb-icon icon="log-out-outline"></nb-icon><span>&nbsp;{{ item.providerType }}</span>
            </span>
            <span *ngIf="item.providerType == 'service'" class="font-type">
                <nb-icon icon="sync-outline"></nb-icon><span>&nbsp;{{ item.providerType }}</span>
            </span>
            <span *ngIf="item.providerType == 'computing'" class="font-type">
                <nb-icon icon="flash-outline"></nb-icon><span>&nbsp;Hardware</span>
            </span>
            <span *ngIf="item.providerType == 'storage'" class="font-type">
                <nb-icon icon="log-in-outline"></nb-icon><span>&nbsp;{{ item.providerType }}</span>
            </span>
        </div>
    </nb-card-body>

    <nb-card-footer>
        <div>
            <label *ngIf="item.providerType !== 'computing'">{{ item.name }}</label>
            <label *ngIf="item.providerType === 'computing' && !item.isLocal">{{ item.originClusterName }} compute provider</label>
            <label *ngIf="item.providerType === 'computing' && item.isLocal">Local compute provider</label>
        </div>
        <div class="type-wrapper font-light">
            <nb-icon *ngIf="item.isLocal" icon="home-outline"></nb-icon>
            <nb-icon *ngIf="!item.isLocal" icon="share-outline"></nb-icon>
            <span>&nbsp;{{ item.isLocal ? "Local" : "Provided by : " + item.originClusterName }}</span>
        </div>
        <div class="type-wrapper font-light">
            <span *ngIf="item.providerType != 'computing'">Version {{ item.version }}</span>
            <span *ngIf="item.providerType == 'computing'">
                <div style="display: flex; gap: 10px">
                    <div><span>CPU: </span><span>{{ item.metadata.resources.cpu }}</span></div>
                    <div><span>RAM: </span><span>{{ calculateRam(item.metadata.resources.ram) }} Mi</span></div>
                </div>
            </span>
        </div>
        <div class="button-wrapper card">
            <app-button *ngIf="item.workflowStructure != ''" size="tiny" (click)="seeCwl(item)">See CWL</app-button>
            <app-button *ngIf="item.isFavorite == undefined || item.isFavorite" size="tiny" (click)="removeFromFavorites()">
                <nb-icon icon="minus-circle-outline" style="margin-right: 5px"></nb-icon>Remove favorite
            </app-button>
            <app-button *ngIf="item.isFavorite != undefined && !item.isFavorite" size="tiny" (click)="addToFavorites()">
                <nb-icon icon="plus-circle-outline" style="margin-right: 5px"></nb-icon>Add favorite
            </app-button>
        </div>
    </nb-card-footer>

</nb-card>
