button[ghost] > nb-icon:not([status]) {
    color: black;
}

.editor-div {
    height: 700px;
    width: 500px;
    .cwl-editor {
        height: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: #e4e9f2;
    }
}

.modal-container {
    max-height: 98vh;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
