.card {
  flex: 1 0;
}

.container-detail {
  padding: 2.25em 0;
  margin: 0;
}

.content {
  grid-area: main;
  height: fit-content;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filter-type {
  font-weight: bolder;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: min-content 1fr;
  gap: 1.5em;
  padding: 2.25em 0;
  margin: 0;
  grid-template-areas: "sd main";
}

nb-card {
  background-color: #fff;
  border: 0.0625rem solid #fff;
  border-radius: 0.25rem;
  color: #222b45;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0;
}

.select-filter {
  margin-top: 15px !important;
  margin-right: 15px !important;
}

.sidebar {
  grid-area: sd;
  height: auto;
}
