<app-page-layout>
  <app-page-layout-header>
    <app-page-layout-header-title><nb-icon icon="shopping-cart-outline"></nb-icon> Pricing
    </app-page-layout-header-title>
    <app-tabs-group>
      <app-tab *ngFor="let tab of allTabs" [isActive]="selectedTab === tab" (click)="tabController.openTab(tab)">
        {{ tab }}
      </app-tab>
    </app-tabs-group></app-page-layout-header>
  <app-page-layout-body>
    <div *ngIf="selectedTab === 'My Resources'" class="container-detail">
      <nb-card class="card-table-detail">
        <nb-card-header>My Resources:</nb-card-header>
        <nb-card-body>
          <app-table-layout>
            <ng2-smart-table [settings]="settings" [source]="multyRows"
            (createConfirm)="create($event)"
            (editConfirm)="edit($event)"
            (deleteConfirm)="delete($event)"> </ng2-smart-table>
          </app-table-layout>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="selectedTab === 'Remote Resources'" class="container-detail">
      <nb-card class="card-table-detail">
        <nb-card-header>Remote Resources: </nb-card-header>
        <nb-card-body>
          <app-table-layout>
            <ng2-smart-table [settings]="settingsRemote" [source]="multyRowsRemote"> </ng2-smart-table>
          </app-table-layout>
        </nb-card-body>
      </nb-card>
    </div>
  </app-page-layout-body>
</app-page-layout>
