<nb-card style="min-width: 600px">
  <nb-card-header>Start workflow</nb-card-header>
  <nb-card-body>
    <ng-template *ngIf="!workflow.blocks || workflow.blocks.length === 0; then empty; else valid"></ng-template>
  </nb-card-body>

  <ng-template #empty> This workflow doesn't contain any task </ng-template>

  <ng-template #valid>
    <div *ngIf="parameters.length === 0">Workflow is ready to start</div>
    <div *ngFor="let p of parameters">
      <div class="block-name">{{ p.block.name }}</div>
      <div *ngFor="let input of p.inputs">
        <app-input-field-component
          [value]="input.value"
          [type]="input.type"
          [name]="input.name"
          (valueChanged)="onValueChanged(input, $event)"
        ></app-input-field-component>
      </div>
    </div>
    <div style="display: flex; gap: 1em">
      <app-button class="button" [nbSpinner]="isLoading" nbSpinnerStatus="primary" (click)="submit()">{{
        isLoading ? "" : "Start"
      }}</app-button>
    </div>
    <nb-alert
      *ngIf="error.length"
      accent="danger"
      style="margin-top: 10px; overflow-wrap: break-word; max-width: 598px"
      >{{ error }}</nb-alert
    >
  </ng-template>
</nb-card>
