<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>{{ name }}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div
        *ngFor="let value of internValue"
        style="display: flex; align-items: flex-start; justify-content: space-between"
      >
        <app-input-field-component
          [value]="value.value"
          [name]="''"
          [type]="type.items"
          (valueChanged)="onChangeValue(value.index, $event)"
        ></app-input-field-component>
        <button nbButton status="danger" (click)="deleteValue(value.index)">
          <nb-icon icon="trash-outline"></nb-icon>
        </button>
      </div>
      <button nbButton status="primary" (click)="addValue()" size="small" fullWidth>Add</button>
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>

