<ng-template [ngIf]="type">
  <app-string-input-field-component
    *ngIf="type.type === 'string'"
    [name]="name"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-string-input-field-component>
  <app-boolean-input-field-component
    *ngIf="type.type === 'boolean'"
    [name]="name"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-boolean-input-field-component>
  <app-integer-input-field-component
    *ngIf="type.type === 'integer' || type.type === 'long'"
    [name]="name"
    [type]="type"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-integer-input-field-component>
  <app-float-input-field-component
    *ngIf="type.type === 'float' || type.type === 'double'"
    [name]="name"
    [type]="type"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-float-input-field-component>
  <app-enum-input-field-component
    *ngIf="type.type === 'enum'"
    [name]="name"
    [type]="type"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-enum-input-field-component>
  <app-union-input-field-component
    *ngIf="type.type === 'union'"
    [name]="name"
    [type]="type"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-union-input-field-component>
  <app-record-input-field-component
    *ngIf="type.type === 'record'"
    [name]="name"
    [type]="type"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-record-input-field-component>
  <app-array-input-field-component
    *ngIf="type.type === 'array'"
    [name]="name"
    [type]="type"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-array-input-field-component>
  <app-date-range-input-field-component
    *ngIf="type.type === 'dateRange'"
    [name]="name"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-date-range-input-field-component>
  <app-bounding-box-input-field-component
    *ngIf="type.type === 'boundingBox'"
    [name]="name"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
  ></app-bounding-box-input-field-component>
  <nb-alert accent="danger" *ngIf="type.type === 'file' || type.type === 'directory'" style="margin-bottom: 1em">
    Unhandled field {{ type.type }}
  </nb-alert>
</ng-template>
