<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>{{ name }}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-input-field-component
        *ngFor="let field of internValue"
        [value]="field.value"
        [name]="field.name"
        [type]="type.fields[field.name].type"
        (valueChanged)="onChangeValue(field.name, $event)"
      ></app-input-field-component>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>


