label {
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: 0.9em !important;
}

label .label-type {
  font-size: .8em;
}

.input-full-width {
  display: block;
}

.form-group {
  margin-bottom: 1em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:host ::ng-deep nb-accordion-item-body .item-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

nb-accordion {
  background: white;
  box-shadow: none;
  margin-bottom: 1em;
}

nb-accordion-item-header {
  padding: 0;
}

nb-accordion-item-body {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #edf1f7;
}
