nb-card {
    position: relative; ;
}

nb-card-header {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: #100909;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 50px;

}

nb-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

nb-icon:focus {
    outline: none;
}

nb-icon:focus-visible {
    outline: 3px solid lightgrey;
}

nb-card-body {
    color: #100909;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

nb-card-footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.btn {
    height: 42px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    border: 0;
    margin-top: 10px;
}

.btn.cancel {
    background-color: #b9b9b94d;
    color: black;
}

.btn:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.2);
    font-weight: bolder;
}
