<nb-card role="dialog" tabindex="-1">
    <nb-card-header>Warning !
        <nb-icon icon='close' (click)='cancel()' aria-label="close windows" tabindex="0"></nb-icon>
    </nb-card-header>
    <nb-card-body>
        {{text}}
    </nb-card-body>
    <nb-card-footer>
        <button class="btn cancel" (click)='cancel()'>{{cancelBtn}}</button>
        <button class="btn" (click)='validate()'>{{acceptBtn}}</button>
    </nb-card-footer>
</nb-card>
