<div class="header-container">
  <div class="logo-container">
    <a href="#" (click)="navigateHome()">
      <img class="logo-img" src="../../../../assets/images/icons/open-cloud.png" alt="open-cloud-logo" />
    </a>
  </div>
  <nb-actions *ngIf="isLoggedIn" size="small">
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action">
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="user?.username"
        [picture]="user?.picture"
        nbContextMenuTag="context-menu"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
  <nb-actions *ngIf="!isLoggedIn">
    <nb-action (click)="login()">
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="user?.username"
        [picture]="user?.picture"
        nbContextMenuTag="context-menu"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
