@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../styles/themes";
@include nb-install-component() {
  display: flex;
  justify-content: center;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-img {
    max-width: 5.5rem;
  }
  @include media-breakpoint-down(lg) {
    .logo-img {
      width: 3.5rem;
    }
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
    padding-top: 0.5rem;
    font-size: 1.1rem;
  }

  nb-icon {
    color: black;
    padding-right: 0.1rem;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}
