@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: 1.25;
  }
}

.nb-theme-default :host ::ng-deep nb-layout .layout .layout-container nb-sidebar.fixed,
.nb-theme-default :host ::ng-deep nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 0;
}


.nb-theme-default :host ::ng-deep nb-sidebar nb-menu {
  padding-top: 0.5rem;
}