$dot-size: 1rem;
$half-dot-size: $dot-size / 2;

.dot {
  display: inline-block;
  width: $dot-size;
  height: $dot-size;
  border-radius: 20px;
  position: relative;
  margin-right:$half-dot-size;
  cursor: pointer;
}

.dot.created, .dot.running, .dot.pending {
  background-color: #0095ff;
}
.dot.succeeded {
  background-color: #00d68f;
}
.dot.error, .dot.failed {
  background-color: #ff3d71;
}
.dot:not(:last-child)::after{
  left: $dot-size;
  top: $half-dot-size;
  width: $half-dot-size;
  height: 1px;
  content: " ";
  display: inline-block;
  background-color: rgba(0,0,0,0.2);
  pointer-events: none;
  position: absolute;
}
