.button-wrapper.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog {
    grid-area: cat;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.catalog-cards {
    grid-area: card;
}

.catalog nb-card-header {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.description {
    float: right;
    margin-top: 0.1em;
    text-transform: capitalize;
}

.executions {
    grid-area: exe;
}

#global-card {
    border: none;
    box-shadow: none;
    margin-top: 36px;
}

.grid-container {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
        "exe news pro"
        "tit tit tit"
        "cat cat cat";
}

.header-wf {
display: flex;
justify-content: space-between;
align-items: center;
}

nb-card {
    background-color: #fff;
    border: 0.0625rem solid #fff;
    border-radius: 0.25rem;
    color: #222b45;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}

nb-card-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000000;
}

nb-card-header nb-icon {
    padding-right: 5px;
    font-size: 25px;
}

.news {
    grid-area: news;
}

.profile {
    grid-area: pro;
}

.subtitle {
    display: flex;
    align-items: center;
    grid-area: tit;
    font-size: 18px;
    font-weight: bold;
    color: 0095ff;
}

.subtitle nb-icon {
    font-size: 22px;
    padding-right: 5px;
}
