<div class="grid-container">
  <div class="executions"><app-executions-status-chart-card></app-executions-status-chart-card></div>
  <div class="news"><app-news></app-news></div>
  <div class="profile"><app-recent-failures></app-recent-failures></div>
  <p class="subtitle"><nb-icon icon="share-outline"></nb-icon> Last catalog update</p>

  <div class="catalog cat-card">
    <div *ngFor="let result of searchResults">
      <app-catalog-item [item]="result" (handleRemove)="removeFavorite(result)" (handleAdd)="addFavorite(result)"></app-catalog-item>
    </div>
  </div>
</div>
